


.contact{
    position: relative;
     float:center;
} 

.portfolio{
    width: auto;
    height: auto;
   }
 .contact{
    position: relative;
    text-align: center; 
   } 

body{
    text-align: center;
    font-family: 'Bentham', serif;
    background-color: white;
    font-size: 20px;
    }
    .about>p{
        display: flex;
  justify-content: center;
  align-items: center;
    }
    h1{
        text-decoration: underline black;
        color: green;
        font-weight: 100;
    }
    h2{
        font-size: 25px;
        font-weight: bold;
        color: rgb(1, 4, 7);
        transition: 0.01s;
        text-shadow: rgb(0, 14, 10) 1px 1px;
        font-style: italic;
         }
    h3{
        font-weight: bold;
        font-size: 20px;
         }
    h4{
        font-weight: bold;
      }
    .reach{
        position: absolute;
        left: 550px;   
        text-align: center;
        top: 0px;    
        align-items: center;
     }
        .reach>p{
        color: white;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
                }
         
         :placeholder-shown{
            display:flex;
            row-gap: 3px;
            columns: 4px;
         }          
        
.footer> img{
    position: inline-block;
    }
    a{
        font-size: 30px;
        text-shadow: black 2px 2px;
        transition: -0s;
        font-style: italic;
    }
 .last> p{
color: rgb(1, 71, 71);
font-weight: bold;
font-size: 25px;
 }
 .step{
    position: relative;
    text-align: center; 
}
 .well{
    position: absolute;
     right: 700px;        
    text-align: center;
    top: 80px;
    color: white;
    font-weight: bold;
    font-size: 40px;
 }
 .well>p:nth-child(4) {
     font-size:small;;
 }
 .service{
    position: relative;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}
 .serve{
    position: absolute;
     text-align: center;
    top: 170px;
    color: white;
      font-size: 20px;
   }
 .serve>p{
     position:inline-block;
 }

 #contact-name, #contact-email, #contact-message{
     background:transparent;
     color: white !important;
 }
 input::placeholder {
    
    font-style: italic;
    font-weight: 60px;
    color: white;
  }

.port8{
    position: relative;
 display: inline;
  }
  
 

.bail{
    position: absolute;
    border: white 4px 4px solid;
      margin-left: 1280px;
    
    color: white;
   font-weight: 40px;
     padding-top:100px;
   border-style: outset;
   border-style: solid;
  padding-bottom: -4050px;
 padding-left: 130px;
  bottom: -1210px;
  float: right;
  box-sizing: border-box;
  background-color: rgb(14, 13, 13);    
  opacity: 0.8;
  font-size: 30px;
    }

.contact-name,.contact-email{
    display: inline;
    align-items: center;
   }
 
   .port5{
    display:inline-block block;
  }   

 #what-we-do img {
  cursor: pointer;
}
#portfolio img:hover {
  padding: 1rem;
  font-size: 40px;

}
.overlay{
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  z-index: 1;
  position: absolute;
  top: 0;
  color: black;
}
::placeholder {
  color: white;

}
.jump {
  cursor: pointer;
}
#development-p, #design-p, #product-p{
  display: none;
}











